@import "tailwindcss";

@theme {
  --color-dark: #191814;
  --color-brown-dark: #553825;
  --color-brown: #766148;
  --color-beige: #A08463;
  --color-beige-light: #C5B291;
  --color-accent: #A44331;
}